[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "econullnetr"]
	path = econullnetr
	url = https://github.com/ivaughan/econullnetr
